# --- Build Artifacts ---
obj/
build/
.cache/
compile_commands.json
crescendo_engine
*.o

# --- Compiled Shaders ---
assets/shaders/*.spv

# --- Editor/System Files ---
.vscode/
.DS_Store
imgui.ini

# --- OS Specific ---
Thumbs.db